/*.png     
/Adaptive Embedding Idea /*.png
!/BossBase Test Images/*.png  
/Adaptive Embedding Idea/Created Stegos
/Adaptive Embedding Idea/LSB Matching Stegos
PathsPC.json
PathsLaptop.json
Bossbase Dataset 1
Bossbase Dataset 1-10
Bossbase Dataset 1-100
/Adaptive Embedding Idea/CompositeSteganalysis.py
__pycache__/
*.pyc