/*.png     
/Adaptive Embedding Idea /*.png
!/BossBase Test Images/*.png  
/Adaptive Embedding Idea/Created Stegos
/Adaptive Embedding Idea/LSB Matching Stegos
Paths.json
Bossbase Dataset 1-10
Bossbase Dataset 1-100